<%- include("shared/nav") %>

  <main class="min-h-screen px-4 py-6 bg-gray-100">
    <section class="">
      <h1 class="text-4xl font-bold text-purple-600 mb-4">Create and Share Your Notes</h1>
      <p class="text-lg text-gray-800">
        Welcome to the notes page. Create new notes below and view all existing notes shared by others.
      </p>
      
      <div class="w-full mt-4 flex items-center justify-between gap-2">
        <button id="createBtn" type="button" class="w-[50%] px-4 py-2 bg-purple-600 text-white rounded hover:bg-purple-700">
          Create Note
        </button>
        <div class="w-[50%] px-2 h-10 rounded-md bg-gray-200 text-black flex justify-between items-center">
          <iconify-icon icon="ic:outline-search" width="24" height="24"  style="color: gray"></iconify-icon>
          <input placeholder="Title/author" class="w-[96%] h-full bg-transparent outline-0" type="text" value="" />
        </div>
      </div>
      
    </section>

    <section class="mt-8">
      <h2 class="text-2xl font-semibold text-purple-600">
        All Notes (<%= allNotes?.length || 0 %>)
        </h2>

        <div class="mt-4 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
          <!-- Note Cards -->
          <% allNotes?.forEach(function(note) { %>
            <div class="card bg-white p-6 rounded shadow-md">
              <h3 class="text-xl font-bold"><%= note.title %></h3>
                <span class="text-gray-600"><%= note.date %></span>
                <p class="mt-2">
                    <%= note.description %>
                </p>
                <div class="bg-purple-100 py-2 px-2 mt-4 rounded-md">
                  <h3 class="text-sm font-light">Created By <%= note.author %></h3>
                </div>
            </div>
                  <% }); %>

                    <% if (!allNotes) { %>
                      <p class="text-red-600 ">
                        No note found
                      </p>
                      <% } %>
                      </div>
                    </section>

                    <!-- Note Modal -->
                    <div id="noteModal" class="hidden top-0 left-0 right-0 fixed h-full w-full bg-black/70 backdrop-blur flex justify-center items-center p-6">
                      <div class="bg-white rounded-md p-5 w-full h-full flex flex-col justify-center items-center">
                        <div class=" ">
                          <%- include("components/warning") %>
                          
                          <div class="flex justify-center">
                            <button id="closeBtn" class="bg-purple-100 p-2 rounded-full flex justify-center items-center">
                              <iconify-icon icon="ic:baseline-close" width="24" height="24" style="color: black"></iconify-icon>
                            </button>
                          </div>
                        </div>
                        <form action="/notes" method="post" accept-charset="utf-8" enctype="application/x-www-form-urlencoded">
                          <div class="mb-4">
                            <label for="title" class="block text-sm font-medium text-gray-700">Title</label>
                            <input type="text" name="title" id="title" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-purple-500 focus:border-purple-500 sm:text-sm" required="">
                          </div>
                          <div class="mb-4">
                            <label for="desc" class="block text-sm font-medium text-gray-700">Description</label>
                            <textarea name="desc" id="desc" rows="4" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-purple-500 focus:border-purple-500 sm:text-sm" required=""></textarea>
                          </div>
                          <div class="mb-4">
                            <label for="title" class="block text-sm font-medium text-gray-700">Author (Your Name)</label>
                            <input type="text" name="author" id="author" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-purple-500 focus:border-purple-500 sm:text-sm" value="Anonymous">
                          </div>
                          <button type="submit" class="w-full px-4 py-2 bg-purple-600 text-white rounded hover:bg-purple-700">
                            Create Note
                          </button>
                        </form>
                      </div>
                    </divid>
                  </main>

                  <%- include("shared/footer") %>